[Unit]
Description=Radarr Service
Wants=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
User=pogoplug
Group=pogoplug
ExecStart=/usr/bin/mono /home/pogoplug/applications/radarr/app/Radarr.exe --nobrowser --debug -data=/home/pogoplug/applications/radarr/data/
KillMode=process
Restart=always
SuccessExitStatus=9

[Install]
WantedBy=multi-user.target