[Unit]
Description=Sonarr Service
Wants=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
# Mono 5.0 fix (https://github.com/Radarr/Radarr/issues/1528)
Environment=MONO_TLS_PROVIDER=legacy

User=pogoplug
Group=pogoplug
ExecStart=/usr/bin/mono /home/pogoplug/applications/sonarr/app/NzbDrone.exe --nobrowser --debug -data=/home/pogoplug/applications/sonarr/data/
KillMode=process
Restart=always
SuccessExitStatus=9

[Install]
WantedBy=multi-user.target